<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <title>{{title}} - {{site.mainTitle}}</title>
    <!-- Fichier CSS-->
    <link rel="stylesheet" href="../sources/css/style.css">
</head>
<body>
    <header>
        <nav>
            {% if logo %}
                <img src="../sources/img/logogris.png" alt="logo gris">
            {% else %}
                <img src="../sources/img/logojaune.png" alt="logo jaune">
            {% endif %}
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="../galerie">Galerie</a></li>
                <li><a href="../tarifs et prestations">Tarifs et prestations</a></li>
                <li><a href="../contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{content | safe}}
    </main>
    <footer>
        <p>{{site.credit}}</p>
        <div id="sociaux">
            <img src="../sources/img/icon-facebook.svg" alt="logo facebook">
            <img src="../sources/img/icon-instagram.svg" alt="logo instagram">
        </div>
    </footer>
    <!-- Fichier js-->
    <script src="../sources/js/script.js"></script>
    {% if contact %}
        <script src="../sources/js/contact.js"></script>
    {% endif %}
</body>
</html>