---
layout: layout.njk
title: Contact
description: Entrez en contact avec votre photographe professionnel pour discuter de vos projets de prise de vue, des tarifs et des disponibilités. Je suis là pour répondre à toutes vos questions afin de vous aider à créer des souvenirs inoubliables.
contact: contact
urlBackground: url(../img/contact.jpg)
---
<section>
    <p>Laissez moi un message, je vous répondrai rapidement.</p>
    <div id="formContact">
        <form name="contact" method="post" data-netlify="true">
            <input type="text" name="Nom" placeholder="Nom ..." required>
            <input type="email" name="E-mail" placeholder="e-mail ..." required>
            <input type="tel" name="Téléphone" placeholder="Téléphone optionnel ...">
            <input type="text" name="Objet" placeholder="Objet ..." required>
            <textarea name="message" placeholder="Votre message ..." required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </div>
    <div id="coordonnees">
        <h2>Mes coordonnées</h2>
        <h3>Adresse:</h3>
        <p>Charles Cantin Photographe</p>
        <p>1234, rue de la photo</p>
        <p>12345, Ici, France</p>
        <h3>Tel:</h3>
        <p>0123456789</p>
        <h3>E-mail:</h3>
        <p>charles.cantin@photo.com</p>
    </div>
</section>