---
layout: layout.njk
title: Accueil
description: Bienvenue sur mon site web de photographie professionnel. Je vous propose des services de qualité pour des portraits, des mariages, des événements et des séances photo en extérieur. Explorez ma galerie pour découvrir mes talents, et consultez mes tarifs. Contactez-moi pour discuter de votre projet.
logo: logo
---

<article>
    <h1></h1>
</article>