---
layout: layout.njk
title: Tarifs et prestations
description: Découvrez mes tarifs abordables de notre photographe professionnel. Que ce soit pour des portraits, des mariages, des événements ou des séances photo en extérieur, j'ai les options adaptées à tous les budgets. Contactez-moi pour discuter de vos besoins et recevoir un devis personnalisé.
---
<section class="sectionTitre">
    <h1>Tarifs et prestations</h1>
</section>
<section>
    <article class="tarifs">
        <div class="headTarif">
            <h2 class="titreTarif"></h2>
            <p class="prixTarif"></p>
        </div>
            <p class="texteTarif"></p>
    </article>   
</section>